[submodule "interactive-card-details-form-main"]
	path = interactive-card-details-form-main
	url = https://github.com/salahudheen007/interactive-card-details-form-main
[submodule "product-preview-card-component-main"]
	path = product-preview-card-component-main
	url = https://github.com/salahudheen007/product-preview-card-component-main
[submodule "interactive-rating-component-main"]
	path = interactive-rating-component-main
	url = https://github.com/salahudheen007/interactive-rating-component-main
[submodule "article-preview-component-masterrr"]
	path = article-preview-component-masterrr
	url = https://github.com/salahudheen007/article-preview-component-masterrr
