[submodule "interactive-card-details-form-main"]
	path = interactive-card-details-form-main
	url = https://github.com/salahudheen007/interactive-card-details-form-main
[submodule "product-preview-card-component-main"]
	path = product-preview-card-component-main
	url = https://github.com/salahudheen007/product-preview-card-component-main
